*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #151312;
  color: white;

}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 12px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav{
  background-color: white;
  border-radius: 20px;
  padding: 12px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.job-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.btn{
  margin-top: 20px;
}

.job-card{
  margin-top: 20px;
  background-color: aqua;
  color: black;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

button{
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 60px;
  background-color: coral;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  
}

a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
a.active{
  color: red;
}
img{
  height: 45px;
  width: 120px;
}

li{
  margin: 0;
  list-style-type: none;
}

h1{
  color: white;
  font-size: 60px;
}