@import "tailwindcss";
body{
    margin:0;
    
    
  width: 100%;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151312;
}
.section{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: clamp(1.8rem,10vw,3rem);
    color: aqua;
    text-align: center;
    margin-bottom: 12px;
}
p{
    color: white;
    font-size: 18px;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    gap: 20px;
}

.card1{
    background-color:coral;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px;
    height: 250px;
    width: 100%;
    max-width: 350px;
    height: auto;
}
.card2{
    width: 100%;
    max-width: 600px;
    background-color: coral;
    border-radius: 12px;
    padding:20px;
    height: 250px;
    
    overflow-y: scroll;
    scrollbar-width: none;

}
.card2-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    
    
}

.btns button{
    background-color: black;
    color: white;
    height: 36px;
    width: max-content;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 4px;
}



.card1 h1,.card2 h1{
   
    font-size: 18px;
    color: white;
    text-align: start;
}

input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 10px;
    outline: none;
    color: white;
    border: 1px solid #151312;
    border-radius: 4px;

}

input::placeholder{
    color: white;
    font-weight: 400;
}

select{
    margin-top: 10px;
    width: 100%;
    color: white;
    padding: 7px 10px;
    font-weight: 400;
    border: 1px solid #151312;
    outline: none;
}

option{
    background-color: black;
    color: white;
    font-weight: 400;
    border: none;
    outline: none;
}
.card1 button{
    background-color: #151312;
    color: white;
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 36px;
    margin-top: 20px;
    cursor: pointer;
}

.service-card{
    background-color: #d3d3d3;
    border-radius: 8px;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    color: black;
}
.btns{
    display: flex;
    gap: 10px;
}


@media(max-width:768px){
    .main-container{
        gap: 30px;
        flex-direction: column;
    }
}