

body{
    margin: 0;
    font-family: "Permanent Marker",cursive
}
.cell{
    height: 75px;
    width: 75px;
    border: 2px solid;
    box-sizing: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
   
    width: 225px;
    text-align: center;

}
.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
button{
    cursor: pointer;
}