@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Modern Negra";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    min-height: 100vh;

}
h1{
    font-size: 120px;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;

}

input{
    height: 36px;
    padding-left: 5px;
    width: 420px;

}

button{
    background-color: white;
    color: black;
    border-radius: 24px;
    height: 36px;
    width: 120px;
    border: none;
    cursor: pointer;
}