*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}

.bg-container{
    display: flex;

}
.side-bar h1{
    margin-bottom: 30px;
    color: #fff;
    font-size: 40px;
}
.side-bar{
    padding-top: 100px;
    padding-left: 40px;
    background: #4070f4;
    height: 100vh;
    background-size: cover;
   
    width: 20%;
}

.addBtn{
    color: black;
    padding: 8px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.addBtn i{
    font-size: 15px;
    margin-right: 5px;
}

.task-wrapper{
    margin-top: 40px;
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.task-name{
    margin-top: 10px;
    width: 80%;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    padding-left: 12px;
    padding-top: 8px;


}
.task-name:hover{
    
    background-color: rgba(255,255,255,0.1);
  
    
}

.main-content{
    background: #efefef;
    height: 100vh;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.project-selection{
   
    text-align: center;
    
}
.image{
    height: 260px;
    width: 260px;
}
.project-selection h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.project-selection button{
    margin-top: 20px;
    background: black;
    color: white;
    font-size: 12px;
    padding: 12px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    cursor: pointer;
}
.project-selection button:hover{
    background: #515459;
}

.task-card{
    background-color:#4070f4;
    width: 50%;
    padding: 20px;
    border-radius: 12px;
    display: none;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}
.buttons button:nth-child(1){
    margin-right: 10px;
    padding: 8px;
    width: 80px;
    border: 0;
    border-radius: 8px;
    background-color:#efefef ;
    color: black;
    font-size: 16px;
}

.buttons button:nth-child(2){
    padding: 8px;
    width: 80px;
    border: 0;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 16px;
}
label{
    color: white !important;
}

.project-card{
    display: none;
    width: 70%;
}
.project-task-card{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #4070f4;
    color: white;
    border-radius: 24px;
}
.content{
    max-width: 70%;
    overflow-wrap: break-word;
}

.project-task-card button{
    padding: 8px;
    width: 80px;
    border: 0;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;

}
.add-task-card{
    margin-top: 40px;
    padding: 20px;
    background-color: #4070f4;
    border-radius: 24px;
}
.add-task-card h1{
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.task input{
    margin-right: 30px;
    flex: 1;
}
.task button{
    padding: 8px;
    font-size: 16px;
    border: 0;
    width: 120px;
    border-radius: 12px;
}

.tasks-container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tasks-container p{
    color: white;
    font-size: 20px;

}
.tasks-container button{
    padding: 8px;
    font-size: 16px;
    border: 0;
    width: 120px;
    border-radius: 12px;

}