@import "tailwindcss";

@theme {
  --color-bgColor: black;

  --animate-fadeIn: fadeIn 1s ease-in-out forwards;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}


@utility flex-center{
  @apply flex justify-center items-center flex-col
}