*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.tip-card{
    background-color: #003166;
    width: 100%;
    max-width: 400px;
}

.image{
    width: 100%;
    height: 20vh;
    position: relative;
}

.head-container {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 2px;
   
}

.head-container img{
    align-self: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 4px solid #003166;
}

.calc-card{
    background-color: transparent;
    padding: 20px;
    margin-top: 50px;
}


input::placeholder{
    color: #fff;
}
input{
    
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    border-width: 0px;
    border-radius: 4px;
    color: white;
}

button{
    background-color:#6f42c1;
    height: 40px;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border-width: 0px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    color: white;
    cursor: pointer;

}

button:hover{
    background-color: #6610f2;

}

#paynow{
    display: none;
}

#result{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    border-width: 0px;
    border-radius: 4px;
    color: white;
    display: none;
}