* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #111;
  background: #ffffff;
}

.section {
  height: 100vh;
  padding: 80px;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;


}

.head {
  opacity: 0;
  transform: translateY(-100px);
}

.head.show {
  animation: fade 1.5s ease forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.hero {
  background: linear-gradient(135deg, #6100EC, #3A1476);
  color: white;
}

.hero h1 {
  font-size: 60px;
  max-width: 700px;
}

.hero p {
  margin: 20px 0 30px;
  font-size: 18px;
  max-width: 600px;
}

.buttons {
  display: flex;
  gap: 20px;
}


.btn {
  padding: 14px 34px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.btn.primary {
  background: white;
  color: #6100EC;
}

.btn.secondary {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.btn.dark {
  background: #111;
  color: white;
}


.features {
  background: #FEFEFE;
}

.features h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  gap: 30px;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 15px;
}

/* CONTENT */
.content {
  background: #F7F7F7;
}

.split {
  display: flex;
  align-items: center;
  gap: 60px;
}

.text {
  flex: 1;
}

.text h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.image-box {
  flex: 1;
}

.placeholder {
  height: 300px;
  background: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 20px;
  color: #555;
}




.cta {
  background: #190E3C;
  color: white;
}

.center {
  text-align: center;
}

.cta h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.bt{
    margin-top: 20px;
}