*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' sans-serif;
}
body{
    margin: 0;
    background-color: #ffffff;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
    padding: 12px;
    background-color: aqua;
    border-radius: 12px;
    width: 100%;
    max-width:900px;
    height: auto;
}
.container h1{
    text-align: center;
    margin-top: 20px;
}


button{
    background-color: transparent;
    color: black;
    height: 36px;
    width: auto;
    padding: 15px 10px;
    border-width: none;
    border-radius: 4px;
    margin-left: 20px;
    border: 2px solid #fff;
    cursor: pointer;

}

.palatte-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.con{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.con-1,.con-2,.con-3,.con-4,.con-5,.con-6{
    height: 100px;
    width: 100px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.fa-copy{
    margin-left: 10px;
    cursor: pointer;
}