* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    padding-left: 30px;
    padding-top: 30px;
    background: linear-gradient(to right, #800080, #ffc0cb);
    height: 100vh;
}
h1 {
    font-size: 15px;
    width: max-content;
    background-color: aqua;
    padding: 12px;
    border-radius: 14px;
    cursor: pointer;
    margin-bottom: 15px;
}
.notes-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    scrollbar-width: none;
}
.input-box {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    max-width: 300px;
    height: 150px;
    max-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input-box p {
    height: 100%;
    overflow-y: auto;
    outline: none;
}
.input-box i {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    color: #333;
}
@media(min-width:576px){
    .input-box{
        margin: 15px;
    }
}