
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Allerta Stencil", sans-serif !important;
    font-weight: 400;
    background-color: black;
    color: white;
    overflow-x: hidden;
    display: flex;
    width: 100vw;
   gap: 10px;
    justify-content: center;
    align-items: center;
    
    
  }

  .allerta-stencil-regular {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .container{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .images{
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    align-items: center;
    overflow-y: hidden;
  }

  .logo{
    color: white;
    display: none;
    
    
    text-align: center;
    background-color: transparent;
  }
  
  .rocks{
    opacity: 0;
  }

  img{
    
    height: 250px;
    width: 250px;
  }

  .apple{
    height: 45px;
    width: 45px;
    cursor: pointer;
  }


  .anim{
    animation: ani 0.5s ease-out forwards;
  }
  .displayText {
    display: block;
    opacity: 0;
    text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.6),
    0 0 12px rgba(255, 255, 255, 0.35),
    0 0 28px rgba(255, 255, 255, 0.25);
    transform: translateY(-300px) scale(30);
   font-size: 260px;
    animation: dis 3s ease-out forwards;
  }

  .navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateY(-100%);
    
  }

  nav{
    display: flex;
    gap: 15px;
    color: white;
    font-size: 18px;
  }

  a{
    cursor: pointer;
    position: relative;
    padding: 2px 10px;
    z-index: 1;
    
    
  }

  a::after{
    content: '';
    inset: 0;
    position: absolute;
    height: 0;
    width: 0;
    background-color:transparent;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    opacity: 0;
    scale: 0;
    transition: all 0.5s ease;
    z-index: -1;

  }

  a:hover::after{
    opacity: 1;
    scale: 1;
    background-color: white;
  }

  a:hover{
    color: black;
  }

  .reveal{
    animation: rev 1s ease-out forwards;
    opacity: 0;
  }


  .animate{
    
    animation: mate 1s ease-out;
  }

  @keyframes mate {
    from{
        transform: translateX(-20px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
    opacity: 1;

    }
    
  }



  @keyframes rev {
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
  }

  
  
  @keyframes dis {
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
      
    }
  }
  
  @keyframes ani {
    to{
        
        opacity: 0;
        display: none;
    }
    
  }


  @media (max-width:768px){
    img{
        height: 100px;
        width: 100px;
    }
    .displayText{
        font-size: 100px;
    }
  }

  @media (max-width:568px){
    nav{
        display: none;
    }
    .displayText{
        font-size: 60px;
    }
  }